.main-content-section {
	display: flex;
	justify-content: space-around; 
	padding-top: 2%;
}

.container-styling{
	padding: 1rem;
	border-radius: 0.5rem;
	background: var(--primary-color); 
	box-shadow: var(--default-box-shadow);  
	border: 2px solid var(--border-color);
}

.main-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.title{
	margin: 0 0 1rem 0;
}

.sub-container {
	background: var(--variation-color);
	white-space: pre-line;
}

.genre-tag {
	display: inline-block;
	padding: 5px 10px;
	margin-left: 5px;
	background-color: var(--variation-color);
	border-radius: 4px;
	font-size: 14px;
	text-decoration: none;
	color: var(--text-color-secondary);
}

.genre-tag:hover {
	background-color: var(--primary-color);
	color: var(--text-color);
}

.anime-header {
    width: 100%;
    height: calc(350px + 40px);
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #111111;
}

.anime-header-background {
    background-image: url(../../public/def_background_1.png);
    position: absolute;
    width: 100%;
    height: 350px;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.anime-header-overlay {
    position: absolute;
    width: 100%;
    height: 350px;
    z-index: -1;
    background-image: 
        radial-gradient(circle at 25% 25%, black 1.5px, transparent 1.5px),
        radial-gradient(circle at 75% 75%, black 1.5px, transparent 1.5px);
    background-size: 4px 4px, 4px 4px;
    background-position: 0 0, 2px 2px;
    mask: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
    -webkit-mask: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%);
}

.anime-poster {
    width: calc(225px / 1.2);
    height: calc(319px / 1.2);
    position: absolute;
    bottom: 0;
    left: 50px;
    border-radius: 7px 7px 0px 0px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-repeat: round;
}

.anime-header-content {
    height: 350px;
    margin-left: calc(225px / 1.2 + 50px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    padding-left: 20px;
}

.anime-title {
    text-shadow: 0 0 10px black;
    color: white;
    margin: 0px 0px 10px 0px;
}

.anime-badges {
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}

.anime-badge {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    background-color: #4177AA;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.anime-tabs {
    margin-left: calc(225px / 1.2 + 50px);
    background-color: #171419;
    width: 100%;
    height: 40px;
    display: flex;
}

.anime-tab {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    border-right: 2px solid #111111;
}

.anime-tab-active {
    background-color: var(--variation-color);
    color: var(--text-color);
}

.anime-tab-inactive {
    background-color: var(--primary-color);
    color: var(--text-color-secondary);
}

.main-content-section {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.left-sidebar {
    width: 20%;
}

.right-content {
    width: 70%;
}

.synopsis-content {
    margin: 0 0 1rem 1rem;
}

.user-picture {
    width: calc(225px / 1.2);
    height: calc(225px / 1.2);
    position: absolute;
    bottom: 0;
    left: 50px;
    border-radius: 7px 7px 0px 0px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.social-list ul {
    list-style: none;
    padding: 0;
    gap: 10px;
}

.social-link {
    color: var(--text-color-secondary);
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: var(--variation-color);
}