.main-content-section {
	display: flex;
	justify-content: space-around; 
	padding-top: 2%;
}

.container-styling{
	padding: 1rem;
	border-radius: 0.5rem;
	background: var(--primary-color); 
	box-shadow: var(--default-box-shadow);  
	border: 2px solid var(--border-color);
}

.main-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.title{
	margin: 0 0 1rem 0;
}

.sub-container {
	background: var(--variation-color);
	white-space: pre-line;
}

.genre-tag {
	display: inline-block;
	padding: 5px 10px;
	margin-left: 5px;
	background-color: var(--variation-color);
	border-radius: 4px;
	font-size: 14px;
	text-decoration: none;
	color: var(--text-color-secondary);
}

.genre-tag:hover {
	background-color: var(--primary-color);
	color: var(--text-color);
}