
.sidebar-main {
	width: 200px;
	height: 100vh;
	background: var(--primary-color);
	position: fixed;
    box-shadow: inset -13px 0 31px -18px rgba(0, 0, 0, 0.25);
    border-right: 2px solid #111111;
}

.sidebar-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    color: var(--text-color-secondary);
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 15px;
    transition: color 0.3s;
    text-decoration: none;
}

.sidebar-item:hover {
    color: var(--text-color);
}

.sidebar-item-active {
    color: var(--text-color);
    background-color: var(--variation-color);
    border: 2px 0px 2px 0px #111111;
}

.sidebar-item:first-child {
    /* Keep logo centered */
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.sidebar-item:first-child img {
    width: 70px;
}

.sidebar-item:not(:first-child) {
    /* Align menu items to the left */
    align-items: flex-start;
}

.item-contents {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-left: 10px;
}

.item-contents span {
    font-size: 20px;
    font-family: "Content", system-ui;
    font-weight: 400;
    font-style: normal;
}

.sidebar-item sl-icon {
    font-size: 20px;
}